In [1]:
import hydrobr

In [2]:
# To get the list of prec stations - source='ANAF' is the standart
list_stations = hydrobr.get_data.ANA.list_prec_stations(state="MINAS GERAIS") 
# To show the first five rows of the data
list_stations.head()

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD
4833,AÇUDE DO ESTREITO,01442019,2,44,ESPINOSA,MINAS GERAIS,DNOCS,-14.8167,-42.8000,1955/01/01,1987/05/31,33,29.9,17,48.5
4834,ESPIGÃO,01442020,2,44,ESPINOSA,MINAS GERAIS,SUDENE,-14.9833,-42.5667,1964/11/01,1991/12/31,28,42.0,11,60.7
4835,ITAMIRIM,01442021,2,44,ESPINOSA,MINAS GERAIS,SUDENE,-14.7667,-42.8833,1964/10/01,2001/01/31,38,9.4,28,26.3
4836,ESPINOSA,01442022,2,44,ESPINOSA,MINAS GERAIS,SUDENE,-14.9333,-42.8167,1964/11/01,1985/12/31,22,17.7,14,36.4
4839,ESPINOSA,01442025,2,44,ESPINOSA,MINAS GERAIS,INMET,-14.9333,-42.8167,1975/01/01,1998/12/31,24,21.9,16,33.3

In [4]:
# Export data to Excel
list_stations.to_excel("all-stations-mg.xlsx")

In [15]:
# Getting the first five stations code as a list
# stations_code = list_stations.Code.to_list()[:10]

In [16]:
list_stations.Latitude.to_list()[:10]

[-14.8167,
 -14.9833,
 -14.7667,
 -14.9333,
 -14.9333,
 -14.7711,
 -14.7864,
 -14.7567,
 -14.2833,
 -14.7667]